<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="adminleftBar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/lettbar1">
                    <span class="glyphicon glyphicon-bell"></span>
                    修改密码
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/lettbar2">
                    <span class="glyphicon glyphicon-bell"></span>
                    管理用户
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lettbar3">
                    <span class="glyphicon glyphicon-bell"></span>
                    菜品类别管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lettbar4">
                    <span class="glyphicon glyphicon-bell"></span>
                    菜品管理
                </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/lettbar5">
                    <span class="glyphicon glyphicon-bell"></span>
                    订单管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lettbar6">
                    <span class="glyphicon glyphicon-bell"></span>
                    订单详情
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admincancellation">
                    <span class="glyphicon glyphicon-bell"></span>
                    退出系统
                </a>
            </li>
        </ul>
    </div>
</nav>


</body>
</html>
